{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <h3 class="fst-italic pb-4 mb-4 border-bottom">Tickets récents</h3>
        </div>
    </main>
{% endblock %}
