{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau User{% endblock %}

{% block body %}
    <h1>Créer un nouveau User</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">Retour à la liste</a>
{% endblock %}
